
// lighten($color-black, 6.5%); #111
// lighten($color-black, 13.5%); #222
// lighten($color-black, 20%); #333


$color-primary: #214b47;
$color-secondary: #432b0f;
$color-success: #2dac0e;
$color-alert: #ff0000;
$color-warning: #f09f41;

$color-black: #000;
$color-white: #fff;
$color-grey: #707070; 
$color-dark: #2e2e2e;
$color-light: #f5f1ec;

$color-gray-300: #818181;
$color-gray-400: #404040;

$color-dark-grey: #404040;

$color-dblue: darkblue;
$color-lblue: #7bc4fa;

// New Color
$color-green: #397670;
$color-green-hover: #326762;
$color-lgreen: #a9d5d1;







$body-font-family: 'Manrope', sans-serif;
$body-font-size: 20px;

$heading-font-family: 'Lato', sans-serif; 
$button-font-family: 'Manrope', sans-serif;



// FOUNDATION VARIABLES 
$grid-container: 1410px;
$grid-container-padding: 30px;

$foundation-palette: (
  primary: $color-primary,
  secondary: $color-secondary,
  success: $color-success,
  warning: $color-warning,
  alert: $color-alert,
) !default;

$button-background: $color-primary;
$button-radius: 3px;
$button-sizes: (
    tiny: 0.6rem,
    small: 0.75rem,
    defaut: 14px, // default: 0.9rem,
    large: 1.25rem
) !default;
$button-padding: 1.5em;
$button-font-weight: 500 !default;

$input-shadow: none;


$breakpoints: (
  small: 0px,
  medium: 768px,
  large: 1024px,
  xlarge: 1600px,
  xxlarge: 1921px,
);

$breakpoint-classes: (small medium large xlarge xxlarge);