
.page-content {
    padding: 100px 0;

    .blog-lists article {
	    margin-bottom: 70px;

	    h5{ 
	        line-height: 1.8em;
	        margin-top: 40px;
	        margin-bottom: 15px;
	        margin-right: 2rem;
	    }
	}
}

.blog-filter{
    background-color: $color-dark;
    color: $color-white;
    z-index: 9999;

    .button-filter{
    	color:$color-white;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 3.8px;
	    text-transform: uppercase;
	    position: relative;
	    display: inline-block;
	    padding: 20px 0;
	    padding-right: 20px;
    }

    .button-dropdown{
		
		display: inline-block;

    	.button-filter{
		    &:after{
				content: '';
			    position: absolute;
			    top: 50%;
			    right: 0;
			    width: 0; 
			    height: 0; 
			    transform: translateY(-50%) rotate(180deg);
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-bottom: 5px solid $color-white;
	     	}
	    }

	    &:hover {
	    	.button-filter:after{
			    transform: translateY(-50%) rotate(0);
			}

			.dropdown-lists{
			    display: block;
			}
	    }
		
		.dropdown-lists{
		    display: none;
		    position: absolute;
		    top: 100%;
		    left: 0;
		    background-color: $color-dark;;
		    padding: 15px 30px;
		    z-index: 9999;

		    ul{
		    	list-style: none;
			    margin: 0;
			    padding: 0;
				
				li{
					a{
						font-size: 16px;
    					color: $color-white;
    					opacity: 0.8;

    					&:hover{
							color: $color-white;
    					}
					}
				}

			    li + li{
			    	margin-top: 10px;
			    }
		    }
		}
		.dropdown-lists.full{
		    width: 100%;
		}
		.button-filter.button-filter-active{
		    position: relative;

		    &:after{

		    }
		}

    }
}
.blog-lists{
	article{
		img{
			width: 100%;
		}
		h5 a{
			color: $color-dark-grey;

			&:hover{
				opacity: 0.8;
			}
		}
	}
}
.blog-lists article img{
    width: 100%;
}

.blog-details {
	.featured-image{
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}
}

@include media(max-width, 767px) {
    .blog-details {
		.featured-image{
			float: initial;
		    text-align: center;
		    margin-left: 0;
		    margin-bottom: 20px;
		}
	}
}

// Blog Page
.blog-header{

	overflow: hidden;

	.blog-thumbnail {
	    position: relative;
	    overflow: hidden;
	    height: 100%;

	    img {
	    	width: 100%;
	    }
	}


	.blog-hero{
		position: relative;
	    height: 100%;

	    &:before{
	    	content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 200%;
		    height: 100%;
		    background-color: #326762;
		    z-index: 10;
	    }
		
		* {
    		position: relative;
		    z-index: 20;
		}

		small, .categories {
			color: #ace5df;
		}

		small {
		    text-transform: uppercase;
		    display: inline-block;
		    margin-bottom: 20px;
		    font-weight: bold;
		    letter-spacing: 3.78px;
		}

		p, h1, .content-issue h5 {
		    color: #fff;
		}


		h1{
			font-size: 50px;
		}

		.categories{
		    font-size: 15px;
		    position: absolute;
		    bottom: 30px;
		    left: 0;
		    margin-left: 50px;
		}

		.vertical-center-left{
		    margin-left: 50px;
		    width: 75%;
		}
		.blog-date{
			font-size: 15px;
		}

		.content-issue{
			
			margin-top: 60px;

			p{
				color: #ecf8f7;
				font-size: 18px;
			}
		}
	}

	.box-design{
	    position: relative;

	    &:before{
	    	content: '';
		    display: block;
		    width: 100%;
		    height: 30px;
		    border:1px solid #cccccc;
		    border-top: 0;
	    }
	}
	
}

.blog-details{
    color: #707070;
    font-size: 18px;

    .grid-container {
    	h3:first-child{
    		display: block;
		    width: 66.6666%;
		    margin: 0 auto;
		    font-family: 'Lato', sans-serif; 
		    font-size: 25px;
		    color: #2e2e2e;
		    margin-bottom: 100px;
		    line-height: 44px;
    	}

    	.wp-block-group{
		    padding-bottom: 50px;
		}
		.wp-block-group + .wp-block-group {
			border-top: 10px solid #ecf8f7;
    		padding-top: 50px;
		}
		.wp-block-group .wp-block-columns .wp-block-column:first-child h2{
		    font-size: 50px;
		    font-weight: normal;
		    color: #2e2e2e;
		}
    }

    .bottom-blog-links{
	    padding: 25px 0;
	    border-bottom: 1px solid #2e2e2e;

	    ul{
	    	list-style: none;
		    margin: 0;
		    padding: 0;

		    li{
			    display: inline-block;

			    a{
			    	font-size: 18px;
				    font-family: 'Manrope', sans-serif;
				    font-weight: bold;
				    color: #2e2e2e;
			    }
			}

			li + li{
				margin-left: 20px;
			}
	    }
	    .post-views{
	    	display: inline-block;
	    }
	}

	.bottom-share-links{
	    text-align: left;
	    margin: 30px 0 50px;

	    ul{
	    	 margin: 0;
		    padding: 0;
		    list-style: none;

		    li{
		    	display: inline-block;

		    	[class*="icn"]{
		    		height: 42px;
		    	}
		    }

		    li + li{
		    	margin-left: 35px;
		    }
	    }

	    h5 {
	    	font-size: 18px;
	    	margin-bottom: 0;
	    }
	}

	.bottom-related-posts{
		h2 {
			margin-bottom: 60px;
		    text-transform: uppercase;
		    letter-spacing: 6.3px;
		}
	    
	}
}

@include media(min-width, 992px){
	.blog-header{
		.blog-hero{
			h1{
				font-size: 30px;
			}
		}
	}
	.blog-details{
		.grid-container{
			.wp-block-group{
				.wp-block-columns{
					.wp-block-column:first-child {
						h2{
							font-size: 28px;
						}
					}
				}
			}
		}
	}
}

@include media(max-width, 991px) {

	

	.blog-header {
		.grid-x{
			& > .cell{
				width: 100%;
			}
		}
		.blog-hero {
			.vertical-center-left{
				width: 100%;
			    top: initial;
			    position: relative;
			    left: initial;
			    transform: translate(0, 0);
			    z-index: 99;
			    margin: 0;
			    padding: 20px 30px 0;
			}
			.categories{
				padding: 20px 30px;
				position: relative;
			    bottom: initial;
			    left: initial;
			    margin-left: 0;
			}
		}
	}
	.blog-details {
		.grid-container{
			h3:first-child{
				width: auto;
				padding-right: 0.9375rem;
    			padding-left: 0.9375rem;
			}
			.wp-block-columns {
				.wp-block-column{
					width: 100% !important;
					flex-basis:100% !important;
					margin: 0;
				}

			}
		}
	}
}

.case-lists {
	.case-content{
		p{
			font-size: 15px;
    		color: $color-gray-300;
		}
		b{
			color: $color-gray-400;
		}
		h2{
			font-size: 20px;
		    font-weight: bold;
		    line-height: 34px;
		    margin-bottom: 15px;
		}
	}

	.category-lists{
		font-size: 15px;
    	color: #214b47;
	}
	article{
		margin-bottom: 60px;

		.case-thumbnail{
		    margin-bottom: 36px;
		}
	}
}


.vertical-center-left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.divider{
	height: 10px;
	margin: 20px 0 50px;
	background-color: #ecf8f7;
}

.jssocials-share-label{
	    padding-left: 0.3em;
    vertical-align: middle;
    font-size: 14px;
    padding-right: 10px;
    font-weight: bold;
}

.control-flex{
	-ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}
.control-flex > *{

}

@include media(min-width, 992px) {
	.medium-align-center{justify-content: center;}
	.medium-align-right{justify-content: flex-end;}
	.medium-align-left{justify-content: flex-start;}
}


@media print{
	#header,
	#footer,
	.box-design{
		display: none;
	}
	.blog-details .grid-container h3:first-child{
		width: 100%;
		line-height: 1.2em;
	}
}


