main {
	.sec-banner{
		h5{
			span{
				color: $color-white;
			}
		}
	}

	label {
		font-weight: bold;
		font-family: $body-font-family;
		font-size: 18px;
		color: $color-dark-grey;
		margin-bottom: 5px;
	}

	textarea{
		max-height: 160px;
	}

	.overlap-image {
		.control-map{
			margin-right: calc(-35vw + 50%)
		}
	}
	.control-map{
		position: relative;
		margin-bottom: 100px;

		&:before{
			content: "";
		    border: 1px solid $color-gray-100;
		    position: absolute;
		    left: 50px;
		    right: 0;
		    top: -50px;
		    bottom: -50px;
		    z-index: -1;	
		}
	}
	.form-control{
		padding-right: 100px;
	}
	.wp-block-button .wp-block-button__link{
		border-radius: 28px;
		margin-top: 15px;
	}

	.control-footer-contact{
		font-weight: bold;
		font-family: $body-font-family;
		font-size: 18px;
	}

	.footer-lists{
		margin: 0;
		padding: 0;
		list-style: none;

		li{
			font-weight: bold;



			span:first-child{
				width: 30px;
				height: 30px;
				position: relative;

				img{
					position: absolute;
					top:50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			span{
				display: inline-block;
				vertical-align: top;
			}
			span + span{
				margin-left: 15px;
			}

			& + li{
				margin-top: 15px;
			}

			&:first-child{
				font-weight: normal;
			}


		}
	}

	&.contact-page{
		.sec-firm-s1 .col-image:before{
			display: none;
		}

		.page-content{
			overflow: hidden;
        }
        .overlap-image .col-image{
            margin-left: 0;

            img{
                border: 1px solid $color-gray-100;
            }
        }
	}

	.contact-form{
		p{
			display: none;
		}
	}
}
@include media(max-width, 992px) {
	main{
		.form-control{
			padding-right: 0;
		}
	}
}

@include media(max-width, 767px) {
	main{
        &.contact-page{
            .overlap-image .col-image{
                margin-right: 0;
            }
        }
		.form-control{
			margin-bottom: 50px;
		}

		.control-map + .grid-x{
			text-align: center;
		}

		.overlap-image{

			.control-map{
				margin-right: 0;

				margin-bottom: 50px;

				iframe{
					height: auto !important;
				}

				&:before{
					display: none;
				}
			}
		}
		
	}

}

.foot-s2{
	font-size: 14px;
    background: $color-primary;
    color: $color-white;

    .copyright{
		padding: 20px 0;
		display: flex;
    	justify-content: space-between;
    	color: $color-lgreen;

    	.copyright-text ul{
			margin: 0 0 0 20px;
		    padding: 0;
		    display: inline-block;

		    li {
			    list-style: none;
			    display: inline-block;
			    margin: 0 10px 0 0;
			}
    	}

    	a{
			color: $color-lgreen;
    	}
    }
}

.blog{
	.page-content{
		padding: 100px 0 50px;
	}
} 
.page-content {
    padding: 100px 0;

    .blog-lists article {
	    margin-bottom: 70px;

	    h5{ 
	        line-height: 1.8em;
	        margin-top: 40px;
	        margin-bottom: 15px;
	        margin-right: 2rem;
	    }
	}
}

.blog-filter{
    background-color: $color-dark;
    color: $color-white;
    z-index: 9999;

    .button-filter{
    	color:$color-white;
	    font-size: 18px;
	    font-weight: bold;
	    letter-spacing: 3.8px;
	    text-transform: uppercase;
	    position: relative;
	    display: inline-block;
	    padding: 20px 0;
	    padding-right: 20px;
    }

    .button-dropdown{
		
		display: inline-block;

    	.button-filter{
		    &:after{
				content: '';
			    position: absolute;
			    top: 50%;
			    right: 0;
			    width: 0; 
			    height: 0; 
			    transform: translateY(-50%) rotate(180deg);
			    border-left: 5px solid transparent;
			    border-right: 5px solid transparent;
			    border-bottom: 5px solid $color-white;
	     	}
	    }

	    &:hover {
	    	.button-filter:after{
			    transform: translateY(-50%) rotate(0);
			}

			.dropdown-lists{
			    display: block;
			}
	    }
		
		.dropdown-lists{
		    display: none;
		    position: absolute;
		    top: 100%;
		    left: 0;
		    background-color: $color-dark;;
		    padding: 15px 30px;
		    z-index: 9999;

		    ul{
		    	list-style: none;
			    margin: 0;
			    padding: 0;
				
				li{
					a{
						font-size: 16px;
    					color: $color-white;
    					opacity: 0.8;

    					&:hover{
							color: $color-white;
    					}
					}
				}

			    li + li{
			    	margin-top: 10px;
			    }
		    }
		}
		.dropdown-lists.full{
		    width: 100%;
		}
		.button-filter.button-filter-active{
		    position: relative;
		}
    }
}
.blog-lists{
	article{
		img{
			width: 100%;
			display: block;
		}
		h5 a{
			color: $color-dark-grey;

			&:hover{
				opacity: 0.8;
			}
		}
	}
}
.blog-lists article img{
    width: 100%;
}

.blog-details {
	.featured-image{
		float: right;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	img:first-child{
		display: none;
	}
}

@include media(max-width, 767px) {
    .blog-details {
		.featured-image{
			float: initial;
		    text-align: center;
		    margin-left: 0;
		    margin-bottom: 20px;
		}
	}
}

// Blog Page
.blog-header{

	overflow: hidden;

	.blog-thumbnail {
	    position: relative;
	    overflow: hidden;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;


	    img {
	    	width: 100%;
	    	height: 100%;
			object-fit: cover;
	    }
	}


	.blog-hero{
		position: relative;
        height: 100%;

	    &:before{
	    	content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 200%;
		    height: 100%;
		    background-color: $color-green-hover;
		    z-index: 10;
        }

        &.case-study-detailed > .vertical-center-left{
            transform: initial;
            top: initial;
            left: initial;
            padding-top: 50px;
        }
		
		* {
    		position: relative;
		    z-index: 20;
        }

        .blog-hero-content{
            width: 75%;
            margin-left: 50px;
            padding-top: 50px;
        }

		small, .categories {
			color: $color-blue-200;
		}

		small{
		    text-transform: uppercase;
		    display: inline-block;
		    margin-bottom: 20px;
		    font-weight: bold;
		    letter-spacing: 3.78px;
		}

		.breadcrumbs{
			a{
				color: $color-blue-200;
				text-transform: uppercase;
		    	display: inline-block;
		    	font-weight: bold;
		    	letter-spacing: 3.78px;
		    	font-size: 80%;
			}
			a:before:hover{
				color: $color-blue-200;
			}
			a + a:before{
				content: '|';
				text-transform: uppercase;
			    display: inline-block;
			    margin-bottom: 20px;
			    font-weight: bold;
			    letter-spacing: 3.78px;
			    color: $color-blue-200;
			    margin:0 3px;
			}
		}

		p, h1, .content-issue h5 {
		    color: $color-white;
		}


		h1{
			font-size: 50px;
			line-height: 1.46em;
		}

		.categories{
		    font-size: 15px;
		    font-weight: 500;
		    margin-left: 50px;
		    margin-bottom: 30px;
		}

		.blog-info{
			margin-left: 50px;
		    width: 75%;
		    padding: 100px 0;
		}

		.case-info{
			margin-left: 50px;
		    width: 75%;
			padding: 100px 0 50px;
		}

		.blog-date{
			font-size: 15px;
			font-weight: 500;
		}

		.content-issue{
			
			margin-top: 60px;

			p{
				color: $color-blue-100;
				font-size: 18px;
			}
		}
	}

	.box-design{
	    position: relative;

	    &:before{
	    	content: '';
		    display: block;
		    width: 100%;
		    height: 30px;
		    border:1px solid $color-gray-100;
		    border-top: 0;
	    }
	}
	
}


@include media(max-width, 991px) {
	.blog-header{
        .blog-thumbnail{
            padding-bottom: 56.25%;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .blog-hero {
            h1 {
                font-size: 30px;
                line-height: 1.3;
            }
        }
    }
}

@include media(max-width, 767px){
    
}

.blog-details{
    color: $color-gray-400;
    font-size: 18px;

    .grid-container {
    	h3:first-of-type{
    		display: block;
		    width: 66.6666%;
		    margin: 0 auto;
		    font-family: 'Lato', sans-serif; 
		    font-size: 25px;
		    color: $color-dark;
		    margin-bottom: 100px;
		    line-height: 44px;
    	}

    	.wp-block-group{
		    padding-bottom: 50px;
		}
		.wp-block-group + .wp-block-group {
			border-top: 10px solid $color-blue-100;
    		padding-top: 50px;
		}
		.wp-block-group .wp-block-columns .wp-block-column:first-child h2{
		    font-size: 50px;
		    font-weight: normal;
		    color: $color-dark;
		}
    }

    .bottom-blog-links{
	    padding: 25px 0;
	    border-bottom: 1px solid $color-dark;

	    ul{
	    	list-style: none;
		    margin: 0;
            padding: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

		    li{
			    display: inline-block;

			    a{
			    	font-size: 18px;
				    font-family: 'Manrope', sans-serif;
				    font-weight: bold;
				    color: $color-dark;
			    }
			}

			li + li{
				margin-left: 20px;
            }
            
            li:last-child{
                margin-left: auto;
            }
	    }
	    .post-views{
	    	display: inline-block;
	    }
	}

	.bottom-share-links{
	    text-align: left;
	    margin: 30px 0 50px;

	    ul{
	    	 margin: 0;
		    padding: 0;
		    list-style: none;

		    li{
		    	display: inline-block;

		    	[class*="icn"]{
		    		height: 42px;
		    	}
		    }

		    li + li{
		    	margin-left: 35px;
		    }
	    }

	    h5 {
	    	font-size: 18px;
	    	margin-bottom: 0;
	    }

	    .jssocials{
		    margin-left: 20px;
		}
		.jssocials .jssocials-share-link {
		    border-radius: 8px;

		    .jssocials-share-logo{
		    	position: relative;
		    	top: -4px;
		    }

		    .jssocials-share-label{
				padding-left: 0.3em;
			    vertical-align: middle;
			    font-size: 14px;
			    padding-right: 10px;
			    font-weight: bold;
			}
		}
	}

	.bottom-related-posts{
		h2 {
			margin-bottom: 60px;
		    text-transform: uppercase;
		    letter-spacing: 6.3px;
		}
	    
	}
}

@include media(min-width, 992px){
	.blog-header{
		.blog-hero{
			h1{
				//font-size: 30px;
			}
		}
	}
	.blog-details{
		.grid-container{
			.wp-block-group{
				.wp-block-columns{
					.wp-block-column:first-child {
						h2{
							font-size: 28px;
						}
					}
				}
			}
		}
	}
}

@include media(max-width, 991px) {
    .blog-header {
		.grid-x{
			& > .cell{
				width: 100%;
			}
		}

		.blog-hero {
            .vertical-center-left,
            &.blog-detailed > .vertical-center-left{
				width: 100%;
			    top: initial;
			    position: relative;
			    left: initial;
			    transform: translate(0, 0);
			    z-index: 99;
			    margin: 0;
			    padding: 20px 30px 0;
			}
			.categories{
				padding: 0 50px;
				position: relative;
			    bottom: initial;
			    left: initial;
			    margin-left: 0;
			}
			.blog-info{
				padding-top: 50px;
				padding-bottom: 50px;
			}
		}
	}
	.blog-details {
		.grid-container{
			h3:first-child{
				width: auto;
				padding-right: 0.9375rem;
    			padding-left: 0.9375rem;
			}
			.wp-block-columns {
				.wp-block-column{
					width: 100% !important;
					flex-basis:100% !important;
					margin: 0;
				}

			}
		}
	}
}

@include media(max-width, 450px){
    .blog-details{
        .bottom-blog-links {
            ul{
                li{
                    width: 100%;
                }
                li + li{
                    margin-left: 0;
                }
            }
        }
    }
}

.case-lists {
	.case-content{
		p{
			font-size: 15px;
    		color: $color-gray-300;
		}
		b{
			color: $color-gray-500;
		}
		h2{
			font-size: 20px;
		    font-weight: bold;
		    line-height: 34px;
		    margin-bottom: 15px;
		}
	}

	.category-lists{
		font-size: 15px;
    	color: $color-primary;
	}
	article{
		margin-bottom: 60px;

		.case-thumbnail{
		    margin-bottom: 36px;
		    position: relative;
		    overflow: hidden;
		    padding-bottom: 56.25%;

		    img{
		    	position: absolute;
		    	top: 50%;
		    	left: 50%;
		    	transform: translate(-50%, -50%);
		    }
		}
	}
}

.comments-section{
	padding-left: 80px;
	margin-bottom: 100px;

	.comment-list{
	    list-style: none;
	    margin: 0;

	    .comment-body{
	    	display: -ms-flexbox;
		    display: flex;

		    & + .children{
		    	margin: 30px 0 0 110px;
		    	list-style: none;
		    	border-top: 1px solid $color-gray-400;
		    	padding-top: 30px;
		    }
	    }
	    .comment-author-profile{
	    	min-width: 90px;
	    }
	    .comment-author-content{
	    	margin-left: 30px;
	    	width: 100%;

	    	.fn{
				font-weight: bold;
    			text-transform: capitalize;
	    	}

	    	.comment-content{
	    		padding:20px 0;

	    		p{
	    			margin-bottom: 0;
	    		}
	    	}
	    	.comment-reply-link{
    			font-size: 16px;
    			font-weight: bold;
    		}
	    }
	}
	.comment-reply-title{
	    display: none !important;
	}
}

.comment-form{

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:0 -10px;

    & > p{
    	margin-bottom: 20px;
    }

    .logged-in-as{
    	padding: 0 10px;
    }

    .comment-form-author{
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;

	    -ms-flex-order: 1;
	    order: 1;
	    padding:0 10px;
	}

	.comment-form-email{
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	    -ms-flex-order: 2;
	    order: 2;
	    padding:0 10px;
	}

	.comment-form-comment{
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;

	    -ms-flex-order: 3;
	    order: 3;
	    padding:0 10px;
	}

	.form-submit{
	    -ms-flex: 0 0 100%;
	    flex: 0 0 100%;
	    max-width: 100%;

	    -ms-flex-order: 4;
	    order: 4;
	    padding:0 10px;
	    text-align: right;

	    .submit{
		    background-color: $color-primary;
		    color: $color-white;
		    padding:10px 25px;
		    text-transform: uppercase;
		    font-size: 14px;
		    font-weight: bold;
		    border: 0;
		    border-radius: 50px;
		    transition: all 0.5s ease;

		    &:hover{
		    	background-color: $color-secondary;
		    }
		}
	}

	input[type="text"], 
	input[type="email"], 
	input[type="password"],
	textarea{
	    border: 1px solid $color-gray-400;
	}
	label{
	    font-size: 18px;
	    font-weight: bold;
	}

	.comment-form-url,
	.comment-form-cookies-consent,
	.comment-notes{
	    display: none !important;
	}
}

@include media(max-width, 991px) {
	.comments-section{
		padding-left: 0;

		.comment-list{
			.comment-author-profile{
				min-width: 40px;
			}
		}


	}
}


.footer-contact-info{
	margin-top: 100px;
}

@include media(max-width, 1023px) {
	#footer{
		.control-website-info{
			display: -ms-flexbox;
	    	display: flex;
	        -ms-flex-wrap: wrap;
	    	flex-wrap: wrap;
	    	-ms-flex-pack: center;
	    	justify-content: center;

	    	.foot-pay{
	    		margin-bottom: 45px;
	    	}


		}

		.foot-social{
    		text-align: right;
    	}

    	.foot-panav, .foot-menu{
    		text-align: center;
    	}
    	.foot-menu{
			.sub-menu{
				margin-bottom: 0;
			}
    	}
	}

}

@include media(max-width, 639px) {
	#footer{
		.foot-social{
    		text-align: center;
			margin-left: 0;
			margin-right: 0;
    	}
    }
}


.sec-history{
	.history-item{

		h4.hbg{
			position: relative;

			&:before{
				content: '';
				position: absolute;
				top: 60%;
				left: 0;
				width: calc(100% + 10px);
				height: 80%;
				z-index: -1;
				opacity: 1 !important;
			}
		}

	}

	.history-item:nth-child(odd){
		h4.hbg{
			&:before {
                background-color: #ecf8f7;
                
            }
		}
	}
	.history-item:nth-child(even){
		h4.hbg{
			&:before {
                background-color: #f5f1ec;
            }
		}
	}
}





.control-flex{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.vertical-center-left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.divider{
	height: 10px;
	margin: 20px 0 50px;
	background-color: $color-blue-100;
}

@include media(min-width, 992px) {
	.medium-align-center{justify-content: center;}
	.medium-align-right{justify-content: flex-end;}
	.medium-align-left{justify-content: flex-start;}
}


@media print{
	#header,
	#footer,
	.box-design,
	.bottom-blog-links,
	.comments-section,
	.bottom-related-posts,
	.bottom-share-links{
		display: none;
	}
	.blog-details .grid-container h3:first-child{
		width: 100%;
		line-height: 1.2em;
	}
}


