/* Header Sticky Nav Style 6 */
header {
  position: relative;
  z-index: 9999; }
  header.overlap {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999; }
    header.overlap .hsnav-s6 {
      background: none; }
  header .hsnav-s6 {
    background: #fff;
    max-width: none !important; }
    header .hsnav-s6.sticky {
      position: absolute;
      position: fixed;
      left: 0;
      right: 0;
      top: 0; }
    header .hsnav-s6.is-stuck {
      position: fixed;
      background: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
    header .hsnav-s6 .navbar {
      position: relative;
      min-height: 75px; }
      header .hsnav-s6 .navbar .logo, header .hsnav-s6 .navbar .navlogo {
        float: left;
        margin-left: 20px;
        margin-top: 7px;
        min-width: 200px; }
      header .hsnav-s6 .navbar .navmenu {
        padding: 0; }
        header .hsnav-s6 .navbar .navmenu a {
          font-size: 16px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 20px 32px;
          line-height: 35px;
          color: #2e2e2e; }
          header .hsnav-s6 .navbar .navmenu a:hover {
            color: #316e69; }
        header .hsnav-s6 .navbar .navmenu .is-dropdown-submenu-parent > a {
          padding-right: 35px; }
          header .hsnav-s6 .navbar .navmenu .is-dropdown-submenu-parent > a:after {
            right: 7px; }
        header .hsnav-s6 .navbar .navmenu .submenu {
          width: 266px;
          background: #214b47;
          padding: 37px 0 35px;
          margin: 0;
          border: 0; }
          header .hsnav-s6 .navbar .navmenu .submenu li {
            display: block;
            padding: 7px 0; }
            header .hsnav-s6 .navbar .navmenu .submenu li:hover {
              background-color: #326762; }
            header .hsnav-s6 .navbar .navmenu .submenu li a {
              padding: 0 45px;
              color: #fff;
              background-color: transparent;
              color: #a9d5d1;
              line-height: 1.2; }
              header .hsnav-s6 .navbar .navmenu .submenu li a:after {
                display: inline-block;
                border-width: 4px;
                right: auto;
                margin-left: 10px;
                border-color: transparent transparent transparent #fff; }
              header .hsnav-s6 .navbar .navmenu .submenu li a:hover {
                color: #fff; }
          header .hsnav-s6 .navbar .navmenu .submenu .submenu {
            width: 280px;
            margin-top: -29px;
            padding: 29px 0 32px; }
            header .hsnav-s6 .navbar .navmenu .submenu .submenu li {
              padding: 7px 0 8px; }
              header .hsnav-s6 .navbar .navmenu .submenu .submenu li a {
                padding: 0 35px;
                font-size: 15px;
                font-weight: 400;
                text-transform: none; }
      header .hsnav-s6 .navbar .navutil {
        float: right; }
        header .hsnav-s6 .navbar .navutil a {
          display: block;
          font-size: 18px;
          font-weight: bold;
          text-transform: uppercase;
          padding: 20px 32px;
          line-height: 35px;
          color: #214b47; }
        header .hsnav-s6 .navbar .navutil ul {
          padding: 0;
          margin: 0; }
          header .hsnav-s6 .navbar .navutil ul li {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            line-height: 1; }
          header .hsnav-s6 .navbar .navutil ul .nav-cta a {
            background: #432b0f;
            color: #fff; }
            header .hsnav-s6 .navbar .navutil ul .nav-cta a:hover {
              background: #214b47; }
      header .hsnav-s6 .navbar .navicon {
        width: 50px;
        height: 50px;
        position: absolute;
        right: 20px;
        top: 12px;
        font-size: 0;
        cursor: pointer;
        display: block; }
        header .hsnav-s6 .navbar .navicon:before {
          content: "";
          position: absolute;
          border-top: 3px solid #214b47;
          border-bottom: 3px solid #214b47;
          left: 14px;
          top: 16px;
          width: 22px;
          height: 19px;
          transition: all 0.5s ease; }
        header .hsnav-s6 .navbar .navicon:after {
          content: "";
          position: absolute;
          border-top: 3px solid #214b47;
          left: 14px;
          top: 24px;
          width: 22px;
          transition: all 0.5s ease; }
        header.show-menu .hsnav-s6 .navicon {
          z-index: 9999; }
          header.show-menu .hsnav-s6 .navicon:before {
            box-shadow: none;
            left: 14px;
            top: 24px;
            height: 3px;
            transform: rotate(-45deg);
            border-bottom: 0;
            border-top: 3px solid #fff; }
          header.show-menu .hsnav-s6 .navicon:after {
            width: 22px;
            left: 14px;
            top: 24px;
            transform: rotate(45deg);
            border-top: 3px solid #fff; }
    @media (max-width: 1599px) {
      header .hsnav-s6 .navbar .navmenu a {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px; }
      header .hsnav-s6 .navbar .navutil a {
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px; } }
    @media (max-width: 1199px) {
      header .hsnav-s6 .navbar .logo, header .hsnav-s6 .navbar .navlogo {
        width: 160px;
        min-width: 1px; }
      header .hsnav-s6 .navbar .navmenu a {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px; }
      header .hsnav-s6 .navbar .navmenu .submenu li a {
        padding-left: 25px;
        padding-right: 25px; }
      header .hsnav-s6 .navbar .navmenu .submenu .submenu li {
        padding: 7px 0; }
        header .hsnav-s6 .navbar .navmenu .submenu .submenu li a {
          font-size: 14px;
          padding-left: 25px;
          padding-right: 25px; }
      header .hsnav-s6 .navbar .navmenu .is-dropdown-submenu-parent > a {
        padding-right: 30px; }
      header .hsnav-s6 .navbar .navutil a {
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px; } }
    @media (max-width: 1023px) {
      header .hsnav-s6 .navbar {
        top: 0 !important; }
        header .hsnav-s6 .navbar .navutil {
          margin-right: 90px; }
        header .hsnav-s6 .navbar .mobmenu {
          position: fixed;
          top: -100vh;
          left: 0;
          right: 0;
          background: #214b47;
          transition: all 0.5s ease;
          overflow: auto;
          height: 100vh; }
          header .hsnav-s6 .navbar .mobmenu .moblogo {
            text-align: center;
            padding: 50px 0 60px; }
          header .hsnav-s6 .navbar .mobmenu ul {
            display: block;
            margin: 0;
            padding: 10px 0 50px;
            width: 100%;
            min-height: calc(100% - 190px); }
            header .hsnav-s6 .navbar .mobmenu ul li {
              text-align: center;
              display: block;
              margin: 0; }
              header .hsnav-s6 .navbar .mobmenu ul li a {
                font-size: 18px;
                line-height: 1.1;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
                padding: 15px 35px;
                position: relative;
                letter-spacing: 2px;
                display: inline-block; }
                header .hsnav-s6 .navbar .mobmenu ul li a:before {
                  position: absolute;
                  left: 25px;
                  top: 50%;
                  margin-top: -22px; }
              header .hsnav-s6 .navbar .mobmenu ul li.has-submenu-toggle > a {
                padding-right: 10px;
                margin-right: auto; }
              header .hsnav-s6 .navbar .mobmenu ul li .submenu-toggle {
                position: static;
                display: inline-block;
                vertical-align: middle; }
            header .hsnav-s6 .navbar .mobmenu ul ul {
              margin: 0;
              padding: 10px 0;
              background: #133b37;
              height: auto; }
              header .hsnav-s6 .navbar .mobmenu ul ul li a {
                font-size: 16px;
                color: #a9d5d1;
                letter-spacing: normal;
                padding: 8px 35px; }
              header .hsnav-s6 .navbar .mobmenu ul ul ul {
                padding: 5px 0 10px; }
                header .hsnav-s6 .navbar .mobmenu ul ul ul li a {
                  font-weight: 500;
                  text-transform: none;
                  color: #6aa59f; }
            header .hsnav-s6 .navbar .mobmenu ul .nav-contact {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0; }
              header .hsnav-s6 .navbar .mobmenu ul .nav-contact a {
                display: block;
                background: #432b0f; }
          header .hsnav-s6 .navbar .mobmenu .submenu-toggle:after {
            border-color: #a9d5d1 transparent transparent; }
          header.show-menu .hsnav-s6 .mobmenu {
            display: block;
            top: 0; } }
    @media (max-width: 767px) {
      header .hsnav-s6 {
        top: 0 !important; } }

/* HERO STYLE 2 */
.hero-s2 {
  min-height: calc(100vh - 75px);
  position: relative; }
  .hero-s2 figure {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
    .hero-s2 figure:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      top: 0;
      right: 0; }
    .hero-s2 figure img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .hero-s2 .hero-caption {
    text-align: center;
    padding: 90px 0;
    position: relative;
    color: #fff;
    min-height: 500px;
    font-size: 25px; }
    .hero-s2 .hero-caption h1 {
      color: #fff;
      font-size: 70px;
      line-height: 1;
      font-weight: normal;
      margin-bottom: 44px;
      line-height: 1.04; }
    .hero-s2 .hero-caption h6 {
      font-weight: 400;
      margin-bottom: 40px; }
    .hero-s2 .hero-caption p {
      font-weight: 300;
      font-size: 20px;
      line-height: 1.75;
      max-width: 820px;
      margin: 0 auto 40px; }
    .hero-s2 .hero-caption .grid-x {
      min-height: calc(100vh - 350px); }
  .hero-s2 .btn-scroll {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 0; }
    .hero-s2 .btn-scroll .icn-arrow:before {
      background-size: 30px; }
  @media (max-width: 1280px) {
    .hero-s2 {
      min-height: 1px; }
      .hero-s2 .hero-caption {
        font-size: 18px;
        padding: 80px 0 130px; }
        .hero-s2 .hero-caption h1 {
          font-size: 45px; }
        .hero-s2 .hero-caption .grid-x {
          min-height: 1px; } }
  @media (max-width: 1023px) {
    .hero-s2 {
      padding: 0; }
      .hero-s2 .hero-caption {
        height: auto; } }
  @media (max-width: 639px) {
    .hero-s2 .hero-caption {
      font-size: 16px; }
      .hero-s2 .hero-caption h1 {
        font-size: 32px; } }

/* BLOCK TWO COLUMNS STYLE 4 */
.cols2-s4 {
  padding: 60px 0; }
  .cols2-s4 .col-image {
    margin-right: 90px;
    margin-left: calc((-100vw - -1410px - 30px) / 2); }
    .cols2-s4 .col-image img {
      width: 100%; }
  .cols2-s4 .large-order-2 .col-image {
    margin-right: calc((-100vw - -1410px - 30px) / 2);
    margin-left: 90px; }
  .cols2-s4 .col-copy > *:last-child {
    margin-bottom: 0; }
  @media (max-width: 1410px) {
    .cols2-s4 .col-image {
      margin-right: 15px;
      margin-left: -30px; }
    .cols2-s4 .large-order-2 .col-image {
      margin-right: -30px;
      margin-left: 15px; } }
  @media (max-width: 1023px) {
    .cols2-s4 .col-image {
      margin-left: 0 !important;
      margin-bottom: 30px !important; } }
  @media (max-width: 639px) {
    .cols2-s4 {
      padding: 40px 0; } }

/* BLOCK THREE COLUMNS STYLE 2 */
.cols3-s2 {
  position: relative; }
  .cols3-s2 .col-item {
    position: relative;
    padding: 0 25px;
    margin-bottom: 30px; }
    .cols3-s2 .col-item figure {
      margin: 0 -25px 25px; }

.sec-intro {
  position: relative;
  padding: 120px 0 30px; }
  .sec-intro hgroup {
    text-align: center;
    margin-bottom: 60px; }
  .sec-intro h1 {
    font-size: 70px;
    margin: 0 0 10px;
    font-weight: 400; }
  .sec-intro h2 {
    font-size: 30px;
    font-weight: 400; }
  .sec-intro .col-item {
    padding: 0;
    margin-bottom: 60px; }
    .sec-intro .col-item h3 {
      font-size: 35px;
      font-weight: 400; }
      .sec-intro .col-item h3 a {
        color: #2e2e2e; }
        .sec-intro .col-item h3 a:hover {
          color: #397670; }
    .sec-intro .col-item figure {
      margin: 0 0 25px; }
      .sec-intro .col-item figure img {
        width: 100%; }
    .sec-intro .col-item ul {
      padding: 0;
      margin: 0; }
      .sec-intro .col-item ul li {
        list-style: none;
        color: #707070; }
        .sec-intro .col-item ul li a {
          color: #707070; }
          .sec-intro .col-item ul li a:hover {
            color: #397670; }
  @media (max-width: 1280px) {
    .sec-intro {
      font-size: 18px; }
      .sec-intro h1 {
        font-size: 55px; }
      .sec-intro .col-item h3 {
        font-size: 26px; } }
  @media (max-width: 1023px) {
    .sec-intro h1 {
      font-size: 42px; }
    .sec-intro h2 {
      font-size: 24px; } }
  @media (max-width: 639px) {
    .sec-intro h1 {
      font-size: 35px; }
    .sec-intro h2 {
      font-size: 20px; } }

.sec-testimonial {
  position: relative;
  z-index: 1;
  overflow: hidden; }
  .sec-testimonial h2 {
    margin-bottom: 50px;
    padding-right: 30px;
    font-size: 50px;
    font-weight: 400;
    color: #a9d5d1;
    line-height: 1.28; }
    .sec-testimonial h2.hbg:before {
      background: #183633;
      right: 6%;
      bottom: -6%;
      top: 35px; }
    .sec-testimonial h2 strong {
      color: #fff; }
  .sec-testimonial .grid-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px; }
    .sec-testimonial .grid-container:before {
      content: "";
      background: #214b47;
      position: absolute;
      left: -105px;
      right: -105px;
      top: 0;
      bottom: 0;
      z-index: -1; }
  .sec-testimonial .testi-slider {
    margin: -20px 0 0 60px;
    padding: 0 0 30px; }
    .sec-testimonial .testi-slider .testi-item {
      display: block;
      padding: 35px 0;
      margin-bottom: -1px;
      position: relative;
      min-height: 172px; }
      .sec-testimonial .testi-slider .testi-item.slick-active:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -2px;
        border-top: 1px solid #a9d5d1;
        opacity: 0.3; }
      .sec-testimonial .testi-slider .testi-item q {
        color: #a9d5d1;
        font-size: 20px; }
        .sec-testimonial .testi-slider .testi-item q:before, .sec-testimonial .testi-slider .testi-item q:after {
          content: ""; }
        .sec-testimonial .testi-slider .testi-item q cite {
          font-size: 20px;
          font-style: normal;
          font-weight: bold;
          color: #fff;
          margin-top: 15px; }
          .sec-testimonial .testi-slider .testi-item q cite:before {
            display: none; }
    .sec-testimonial .testi-slider .slick-arrow {
      top: auto;
      left: auto;
      right: 0;
      bottom: -30px;
      opacity: 1;
      background: url(../img/icn-arrow-light.svg) no-repeat center/20px;
      transform: none; }
    .sec-testimonial .testi-slider .slick-prev {
      transform: rotate(-180deg);
      right: 40px; }
    .sec-testimonial .testi-slider .slick-next:before {
      content: "";
      border-left: 2px solid #fff;
      position: absolute;
      top: 0;
      left: -5px;
      bottom: 0; }
  @media (max-width: 1280px) {
    .sec-testimonial h2 {
      font-size: 58px; } }
  @media (max-width: 1023px) {
    .sec-testimonial .grid-container {
      padding-top: 60px;
      padding-bottom: 80px; }
    .sec-testimonial .testi-slider {
      margin: 0; }
      .sec-testimonial .testi-slider .testi-item q {
        font-size: 16px; }
        .sec-testimonial .testi-slider .testi-item q cite {
          font-size: 16px; } }
  @media (max-width: 639px) {
    .sec-testimonial h2 {
      font-size: 40px; } }

.sec-cases {
  position: relative;
  text-align: center;
  padding: 110px 0 100px 0;
  overflow: hidden; }
  .sec-cases h2 {
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 7px; }
  .sec-cases h3 {
    font-size: 30px;
    color: #2e2e2e; }
  .sec-cases h4 {
    font-size: 24px;
    font-weight: 600;
    color: #707070; }
  .sec-cases p strong {
    color: #2e2e2e; }
  .sec-cases .cases-slider {
    width: 840px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0; }
    .sec-cases .cases-slider .cases-item {
      padding: 0 45px;
      opacity: 0.4;
      font-size: 18px;
      margin-bottom: 50px; }
      .sec-cases .cases-slider .cases-item figure {
        margin-bottom: 55px;
        overflow: hidden;
        max-height: 420px; }
        .sec-cases .cases-slider .cases-item figure img {
          margin-top: 80px;
          width: 100%; }
      .sec-cases .cases-slider .cases-item.slick-current {
        padding-top: 0;
        opacity: 1; }
        .sec-cases .cases-slider .cases-item.slick-current figure img {
          margin-top: 0; }
    .sec-cases .cases-slider .slick-list {
      overflow: visible; }
    .sec-cases .cases-slider .slick-arrow {
      top: auto;
      left: auto;
      right: 0;
      bottom: -30px;
      opacity: 1;
      background: url(../img/icn-arrow-dark.svg) no-repeat center/20px;
      transform: none; }
    .sec-cases .cases-slider .slick-prev {
      transform: rotate(-180deg);
      right: 50px; }
    .sec-cases .cases-slider .slick-next:before {
      content: "";
      border-left: 2px solid #2e2e2e;
      position: absolute;
      top: 0;
      left: -10px;
      bottom: 0; }
    .sec-cases .cases-slider .slick-pager {
      position: absolute;
      left: 0;
      margin: 0; }
      .sec-cases .cases-slider .slick-pager li {
        display: none;
        font: 50px/1 Georgia, 'Times New Roman', Times, serif;
        color: #2e2e2e; }
        .sec-cases .cases-slider .slick-pager li.slick-active {
          display: block; }
        .sec-cases .cases-slider .slick-pager li small {
          display: inline-block;
          font-size: 56%;
          vertical-align: baseline; }
  @media (max-width: 1023px) {
    .sec-cases .cases-slider .cases-item {
      padding: 0 10px; } }
  @media (max-width: 1023px) {
    .sec-cases {
      padding: 80px 0; }
      .sec-cases .cases-slider {
        overflow: hidden; }
        .sec-cases .cases-slider .cases-item {
          font-size: 16px; }
          .sec-cases .cases-slider .cases-item figure img {
            margin-top: 0; }
        .sec-cases .cases-slider .slick-pager {
          bottom: 15px; }
          .sec-cases .cases-slider .slick-pager li {
            font-size: 35px; }
        .sec-cases .cases-slider .slick-arrow {
          bottom: 15px; } }

.sec-news {
  background: #f8f4ef;
  position: relative;
  padding: 100px 0; }
  .sec-news h2 {
    margin-bottom: 90px;
    text-transform: uppercase;
    letter-spacing: 7px; }
  .sec-news .news-list {
    margin: 0 0 40px;
    padding: 0; }
    .sec-news .news-list li {
      list-style: none;
      float: left;
      width: 54%;
      padding: 0 0 0 75px;
      margin: 0;
      border-left: 1px solid rgba(46, 46, 46, 0.2); }
      .sec-news .news-list li:first-child {
        padding: 0 70px 0 0;
        border: 0;
        width: 46%; }
        .sec-news .news-list li:first-child .news-item {
          padding-left: 0;
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0; }
          .sec-news .news-list li:first-child .news-item h3 {
            font-size: 35px;
            padding-top: 15px; }
          .sec-news .news-list li:first-child .news-item img {
            width: 168px;
            margin-left: 0;
            margin-right: 40px; }
          .sec-news .news-list li:first-child .news-item p {
            clear: both; }
      .sec-news .news-list li:last-child .news-item {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 0; }
      .sec-news .news-list li .news-item {
        position: relative;
        padding-left: 120px;
        border-bottom: 1px solid rgba(46, 46, 46, 0.2);
        padding-bottom: 20px;
        margin-bottom: 40px; }
        .sec-news .news-list li .news-item h3 {
          font-size: 22px;
          line-height: 1.3; }
          .sec-news .news-list li .news-item h3 a {
            color: #2e2e2e; }
            .sec-news .news-list li .news-item h3 a:hover {
              color: #397670; }
        .sec-news .news-list li .news-item img {
          float: left;
          width: 90px;
          margin-left: -120px;
          margin-bottom: 30px; }
  @media (max-width: 1280px) {
    .sec-news {
      padding: 80px 0; }
      .sec-news .news-list li {
        padding: 0 0 0 30px; }
        .sec-news .news-list li:first-child {
          padding: 0 28px 0 0; }
          .sec-news .news-list li:first-child .news-item h3 {
            font-size: 30px; }
          .sec-news .news-list li:first-child .news-item img {
            margin-right: 30px; } }
  @media (max-width: 1023px) {
    .sec-news .news-list li {
      float: none;
      width: 100% !important;
      padding: 0;
      border: 0; } }
  @media (max-width: 639px) {
    .sec-news .news-list li {
      float: none;
      width: 100% !important;
      padding: 0;
      border: 0; }
      .sec-news .news-list li:first-child {
        padding: 0; }
        .sec-news .news-list li:first-child .news-item h3 {
          padding: 0;
          font-size: 26px; }
        .sec-news .news-list li:first-child .news-item img {
          width: 90px; }
      .sec-news .news-list li .news-item {
        padding-left: 0;
        text-align: center; }
        .sec-news .news-list li .news-item h3 {
          font-size: 20px; }
        .sec-news .news-list li .news-item img {
          float: none;
          margin: 0 0 15px !important; }
    .sec-news .button {
      line-height: 1.2;
      padding-top: 12px;
      padding-bottom: 12px; } }

.sec-clients {
  position: relative;
  padding: 70px 0;
  overflow: hidden; }
  .sec-clients h2 {
    font-size: 77px;
    font-weight: normal; }
  .sec-clients .col-image {
    position: relative;
    margin-bottom: 50px; }
    .sec-clients .col-image:before {
      content: "";
      border: 1px solid #cccccc;
      position: absolute;
      left: 50px;
      right: 0;
      top: -50px;
      bottom: -50px;
      z-index: -1; }
  @media (max-width: 1410px) {
    .sec-clients h2 {
      font-size: 60px; }
    .sec-clients .col-image:before {
      content: "";
      border: 1px solid #cccccc;
      position: absolute;
      left: 30px;
      right: 0;
      top: -30px;
      bottom: -30px;
      z-index: -1; } }
  @media (max-width: 1023px) {
    .sec-clients .client-matter-text {
      margin-bottom: 80px; }
      .sec-clients .client-matter-text .check-list {
        margin-bottom: 0; } }
  @media (max-width: 639px) {
    .sec-clients h2 {
      font-size: 38px; } }

.sec-subscribe {
  position: relative;
  margin: 0 0 70px; }
  .sec-subscribe .wp-block-group__inner-container {
    padding: 0; }
  .sec-subscribe .subscribe-box {
    background: url(../img/newsletter-bg.jpg) no-repeat 75% center/cover;
    padding: 45px;
    color: #fff;
    font-size: 18px; }
    .sec-subscribe .subscribe-box h2 {
      font-size: 30px;
      color: #fff;
      margin: 0 0 5px; }
    .sec-subscribe .subscribe-box p .button {
      margin: 0 0 0 15px;
      border: 2px solid #fff; }
      @media (max-width: 1100px) {
        .sec-subscribe .subscribe-box p .button {
          display: block;
          margin-top: 20px;
          max-width: 185px; } }
      @media (max-width: 1024px) {
        .sec-subscribe .subscribe-box p .button {
          margin-left: auto;
          margin-right: auto; } }
    .sec-subscribe .subscribe-box > *:last-child {
      margin-bottom: 0; }
  @media (max-width: 1024px) {
    .sec-subscribe .wp-block-cover__inner-container {
      width: 100%; } }
  @media (max-width: 639px) {
    .sec-subscribe .subscribe-box {
      padding: 20px; }
      .sec-subscribe .subscribe-box h2 {
        font-size: 24px;
        line-height: 1.2; } }

.hbg:before {
  content: '';
  position: absolute;
  top: 60%;
  left: 0;
  height: 80%;
  z-index: -1;
  opacity: 1 !important; }

main .sec-banner h5 span {
  color: #fff; }

main label {
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  color: #404040;
  margin-bottom: 5px; }

main textarea {
  max-height: 160px; }

main .overlap-image .control-map {
  margin-right: calc(-35vw + 50%); }

main .control-map {
  position: relative;
  margin-bottom: 100px; }
  main .control-map:before {
    content: "";
    border: 1px solid #ccc;
    position: absolute;
    left: 50px;
    right: 0;
    top: -50px;
    bottom: -50px;
    z-index: -1; }

main .form-control {
  padding-right: 100px; }

main .wp-block-button .wp-block-button__link {
  border-radius: 28px;
  margin-top: 15px; }

main .control-footer-contact {
  font-weight: bold;
  font-family: "Manrope", sans-serif;
  font-size: 18px; }

main .footer-lists {
  margin: 0;
  padding: 0;
  list-style: none; }
  main .footer-lists li {
    font-weight: bold; }
    main .footer-lists li span:first-child {
      width: 30px;
      height: 30px;
      position: relative; }
      main .footer-lists li span:first-child img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    main .footer-lists li span {
      display: inline-block;
      vertical-align: top; }
    main .footer-lists li span + span {
      margin-left: 15px; }
    main .footer-lists li + li {
      margin-top: 15px; }
    main .footer-lists li:first-child {
      font-weight: normal; }

main.contact-page .sec-firm-s1 .col-image:before {
  display: none; }

main.contact-page .page-content {
  overflow: hidden; }

main.contact-page .overlap-image .col-image {
  margin-left: 0; }
  main.contact-page .overlap-image .col-image img {
    border: 1px solid #ccc; }

main .contact-form p {
  display: none; }

@media (max-width: 992px) {
  main .form-control {
    padding-right: 0; } }

@media (max-width: 767px) {
  main.contact-page .overlap-image .col-image {
    margin-right: 0; }
  main .form-control {
    margin-bottom: 50px; }
  main .control-map + .grid-x {
    text-align: center; }
  main .overlap-image .control-map {
    margin-right: 0;
    margin-bottom: 50px; }
    main .overlap-image .control-map iframe {
      height: auto !important; }
    main .overlap-image .control-map:before {
      display: none; } }

.foot-s2 {
  font-size: 14px;
  background: #214b47;
  color: #fff; }
  .foot-s2 .copyright {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    color: #a9d5d1; }
    .foot-s2 .copyright .copyright-text ul {
      margin: 0 0 0 20px;
      padding: 0;
      display: inline-block; }
      .foot-s2 .copyright .copyright-text ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px 0 0; }
    .foot-s2 .copyright a {
      color: #a9d5d1; }

.blog .page-content {
  padding: 100px 0 50px; }

.page-content {
  padding: 100px 0; }
  .page-content .blog-lists article {
    margin-bottom: 70px; }
    .page-content .blog-lists article h5 {
      line-height: 1.8em;
      margin-top: 40px;
      margin-bottom: 15px;
      margin-right: 2rem; }

.blog-filter {
  background-color: #2e2e2e;
  color: #fff;
  z-index: 9999; }
  .blog-filter .button-filter {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 20px 0;
    padding-right: 20px; }
  .blog-filter .button-dropdown {
    display: inline-block; }
    .blog-filter .button-dropdown .button-filter:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      transform: translateY(-50%) rotate(180deg);
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid #fff; }
    .blog-filter .button-dropdown:hover .button-filter:after {
      transform: translateY(-50%) rotate(0); }
    .blog-filter .button-dropdown:hover .dropdown-lists {
      display: block; }
    .blog-filter .button-dropdown .dropdown-lists {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #2e2e2e;
      padding: 15px 30px;
      z-index: 9999; }
      .blog-filter .button-dropdown .dropdown-lists ul {
        list-style: none;
        margin: 0;
        padding: 0; }
        .blog-filter .button-dropdown .dropdown-lists ul li a {
          font-size: 16px;
          color: #fff;
          opacity: 0.8; }
          .blog-filter .button-dropdown .dropdown-lists ul li a:hover {
            color: #fff; }
        .blog-filter .button-dropdown .dropdown-lists ul li + li {
          margin-top: 10px; }
    .blog-filter .button-dropdown .dropdown-lists.full {
      width: 100%; }
    .blog-filter .button-dropdown .button-filter.button-filter-active {
      position: relative; }

.blog-lists article img {
  width: 100%;
  display: block; }

.blog-lists article h5 a {
  color: #404040; }
  .blog-lists article h5 a:hover {
    opacity: 0.8; }

.blog-lists article img {
  width: 100%; }

.blog-details .featured-image {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px; }

.blog-details img:first-child {
  display: none; }

@media (max-width: 767px) {
  .blog-details .featured-image {
    float: initial;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px; } }

.blog-header {
  overflow: hidden; }
  .blog-header .blog-thumbnail {
    position: relative;
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    .blog-header .blog-thumbnail img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .blog-header .blog-hero {
    position: relative;
    height: 100%; }
    .blog-header .blog-hero:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 100%;
      background-color: #326762;
      z-index: 10; }
    .blog-header .blog-hero.case-study-detailed > .vertical-center-left {
      transform: initial;
      top: initial;
      left: initial;
      padding-top: 50px; }
    .blog-header .blog-hero * {
      position: relative;
      z-index: 20; }
    .blog-header .blog-hero .blog-hero-content {
      width: 75%;
      margin-left: 50px;
      padding-top: 50px; }
    .blog-header .blog-hero small, .blog-header .blog-hero .categories {
      color: #ace5df; }
    .blog-header .blog-hero small {
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 20px;
      font-weight: bold;
      letter-spacing: 3.78px; }
    .blog-header .blog-hero .breadcrumbs a {
      color: #ace5df;
      text-transform: uppercase;
      display: inline-block;
      font-weight: bold;
      letter-spacing: 3.78px;
      font-size: 18px; }
    .blog-header .blog-hero .breadcrumbs a:before:hover {
      color: #ace5df; }
    .blog-header .blog-hero .breadcrumbs a + a:before {
      content: '|';
      text-transform: uppercase;
      display: inline-block;
      margin-bottom: 20px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #ace5df;
      margin: 0 25px;
      opacity: 0.5; }
    .blog-header .blog-hero p, .blog-header .blog-hero h1, .blog-header .blog-hero .content-issue h5 {
      color: #fff; }
    .blog-header .blog-hero .content-issue h5 {
      font-size: 25px; }
    .blog-header .blog-hero h1 {
      font-size: 50px;
      line-height: 1.46em; }
    .blog-header .blog-hero .categories {
      font-size: 15px;
      font-weight: 500;
      margin-left: 50px;
      margin-bottom: 30px; }
    .blog-header .blog-hero .blog-info {
      margin-left: 50px;
      width: 75%;
      padding: 100px 0; }
    .blog-header .blog-hero .case-info {
      margin-left: 50px;
      width: 75%;
      padding: 100px 0 50px; }
    .blog-header .blog-hero .blog-date {
      font-size: 15px;
      font-weight: 500; }
    .blog-header .blog-hero .content-issue {
      margin-top: 60px; }
      .blog-header .blog-hero .content-issue p {
        color: #ecf8f7;
        font-size: 18px; }
  .blog-header .box-design {
    position: relative; }
    .blog-header .box-design:before {
      content: '';
      display: block;
      width: 100%;
      height: 30px;
      border: 1px solid #ccc;
      border-top: 0; }

.case-details h2 {
  font-size: 25px; }

.case-details p {
  font-size: 18px; }

@media (max-width: 991px) {
  .blog-header .blog-thumbnail {
    padding-bottom: 56.25%;
    position: relative; }
    .blog-header .blog-thumbnail img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .blog-header .blog-hero h1 {
    font-size: 30px;
    line-height: 1.3; } }

.blog-details {
  color: #707070;
  font-size: 18px; }
  .blog-details .grid-container h3:first-of-type {
    display: block;
    width: 66.6666%;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #2e2e2e;
    margin-bottom: 100px;
    line-height: 44px; }
  .blog-details .grid-container .wp-block-group {
    padding-bottom: 50px; }
  .blog-details .grid-container .wp-block-group + .wp-block-group {
    border-top: 10px solid #ecf8f7;
    padding-top: 50px; }
  .blog-details .grid-container .wp-block-group .wp-block-columns .wp-block-column:first-child h2 {
    font-size: 50px;
    font-weight: normal;
    color: #2e2e2e; }
  .blog-details .bottom-blog-links {
    padding: 25px 0;
    border-bottom: 1px solid #2e2e2e; }
    .blog-details .bottom-blog-links ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .blog-details .bottom-blog-links ul li {
        display: inline-block; }
        .blog-details .bottom-blog-links ul li a {
          font-size: 18px;
          font-family: 'Manrope', sans-serif;
          font-weight: bold;
          color: #2e2e2e; }
      .blog-details .bottom-blog-links ul li + li {
        margin-left: 20px; }
      .blog-details .bottom-blog-links ul li:last-child {
        margin-left: auto; }
    .blog-details .bottom-blog-links .post-views {
      display: inline-block; }
  .blog-details .bottom-share-links {
    text-align: left;
    margin: 30px 0 50px; }
    .blog-details .bottom-share-links ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .blog-details .bottom-share-links ul li {
        display: inline-block; }
        .blog-details .bottom-share-links ul li [class*="icn"] {
          height: 42px; }
      .blog-details .bottom-share-links ul li + li {
        margin-left: 35px; }
    .blog-details .bottom-share-links h5 {
      font-size: 18px;
      margin-bottom: 0; }
    .blog-details .bottom-share-links .jssocials {
      margin-left: 20px; }
    .blog-details .bottom-share-links .jssocials .jssocials-share-link {
      border-radius: 8px; }
      .blog-details .bottom-share-links .jssocials .jssocials-share-link .jssocials-share-logo {
        position: relative;
        top: -4px; }
      .blog-details .bottom-share-links .jssocials .jssocials-share-link .jssocials-share-label {
        padding-left: 0.3em;
        vertical-align: middle;
        font-size: 14px;
        padding-right: 10px;
        font-weight: bold; }
  .blog-details .bottom-related-posts h2 {
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 6.3px;
    font-size: 30px;
    font-weight: bold; }

.case-details .bottom-related-posts h2 {
  text-transform: uppercase;
  letter-spacing: 6.3px;
  font-size: 30px;
  font-weight: bold; }
  .case-details .bottom-related-posts h2:before {
    background-color: #ecf8f7;
    width: calc(100% + 30px);
    left: 50%;
    top: 50%;
    transform: translateX(-50%); }

@media (min-width: 992px) {
  .blog-details .grid-container .wp-block-group .wp-block-columns .wp-block-column:first-child h2 {
    font-size: 28px; } }

@media (max-width: 991px) {
  .blog-header .grid-x > .cell {
    width: 100%; }
  .blog-header .blog-hero .vertical-center-left,
  .blog-header .blog-hero.blog-detailed > .vertical-center-left {
    width: 100%;
    top: initial;
    position: relative;
    left: initial;
    transform: translate(0, 0);
    z-index: 99;
    margin: 0;
    padding: 20px 30px 0; }
  .blog-header .blog-hero .categories {
    padding: 0 50px;
    position: relative;
    bottom: initial;
    left: initial;
    margin-left: 0; }
  .blog-header .blog-hero .blog-info {
    padding-top: 50px;
    padding-bottom: 50px; }
  .blog-details .grid-container h3:first-child {
    width: auto;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem; }
  .blog-details .grid-container .wp-block-columns .wp-block-column {
    width: 100% !important;
    flex-basis: 100% !important;
    margin: 0; } }

@media (max-width: 450px) {
  .blog-details .bottom-blog-links ul li {
    width: 100%; }
  .blog-details .bottom-blog-links ul li + li {
    margin-left: 0; } }

.case-lists .case-content p {
  font-size: 15px;
  color: #818181;
  font-weight: 500; }

.case-lists .case-content b {
  color: #404040; }

.case-lists .case-content h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 34px;
  margin-bottom: 15px; }

.case-lists .category-lists {
  font-size: 15px;
  color: #214b47; }
  .case-lists .category-lists small {
    font-size: inherit; }

.case-lists article {
  margin-bottom: 60px; }
  .case-lists article .case-thumbnail {
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
    padding-bottom: 56.25%; }
    .case-lists article .case-thumbnail img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.comments-section {
  padding-left: 80px;
  margin-bottom: 100px; }
  .comments-section .comment-list {
    list-style: none;
    margin: 0; }
    .comments-section .comment-list .comment-body {
      display: -ms-flexbox;
      display: flex; }
      .comments-section .comment-list .comment-body + .children {
        margin: 30px 0 0 110px;
        list-style: none;
        border-top: 1px solid #707070;
        padding-top: 30px; }
    .comments-section .comment-list .comment-author-profile {
      min-width: 90px; }
    .comments-section .comment-list .comment-author-content {
      margin-left: 30px;
      width: 100%; }
      .comments-section .comment-list .comment-author-content .fn {
        font-weight: bold;
        text-transform: capitalize; }
      .comments-section .comment-list .comment-author-content .comment-content {
        padding: 20px 0; }
        .comments-section .comment-list .comment-author-content .comment-content p {
          margin-bottom: 0; }
      .comments-section .comment-list .comment-author-content .comment-reply-link {
        font-size: 16px;
        font-weight: bold; }
  .comments-section .comment-reply-title {
    display: none !important; }

.comment-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -10px; }
  .comment-form > p {
    margin-bottom: 20px; }
  .comment-form .logged-in-as {
    padding: 0 10px; }
  .comment-form .comment-form-author {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-order: 1;
    order: 1;
    padding: 0 10px; }
  .comment-form .comment-form-email {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    -ms-flex-order: 2;
    order: 2;
    padding: 0 10px; }
  .comment-form .comment-form-comment {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-order: 3;
    order: 3;
    padding: 0 10px; }
  .comment-form .form-submit {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -ms-flex-order: 4;
    order: 4;
    padding: 0 10px;
    text-align: right; }
    .comment-form .form-submit .submit {
      background-color: #214b47;
      color: #fff;
      padding: 10px 25px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      border: 0;
      border-radius: 50px;
      transition: all 0.5s ease; }
      .comment-form .form-submit .submit:hover {
        background-color: #432b0f; }
  .comment-form input[type="text"],
  .comment-form input[type="email"],
  .comment-form input[type="password"],
  .comment-form textarea {
    border: 1px solid #707070; }
  .comment-form label {
    font-size: 18px;
    font-weight: bold; }
  .comment-form .comment-form-url,
  .comment-form .comment-form-cookies-consent,
  .comment-form .comment-notes {
    display: none !important; }

@media (max-width: 991px) {
  .comments-section {
    padding-left: 0; }
    .comments-section .comment-list .comment-author-profile {
      min-width: 40px; } }

.footer-contact-info {
  margin-top: 100px; }

@media (max-width: 1023px) {
  #footer .control-website-info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }
    #footer .control-website-info .foot-pay {
      margin-bottom: 45px; }
  #footer .foot-social {
    text-align: right; }
  #footer .foot-panav, #footer .foot-menu {
    text-align: center; }
  #footer .foot-menu .sub-menu {
    margin-bottom: 0; } }

@media (max-width: 639px) {
  #footer .foot-social {
    text-align: center;
    margin-left: 0;
    margin-right: 0; } }

.sec-history .history-item h4.hbg {
  position: relative; }
  .sec-history .history-item h4.hbg:before {
    content: '';
    position: absolute;
    top: 60%;
    left: 0;
    width: calc(100% + 10px);
    height: 80%;
    z-index: -1;
    opacity: 1 !important; }

.sec-history .history-item:nth-child(odd) h4.hbg:before {
  background-color: #ecf8f7; }

.sec-history .history-item:nth-child(even) h4.hbg:before {
  background-color: #f5f1ec; }

.control-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.vertical-center-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }

.divider {
  height: 10px;
  margin: 20px 0 50px;
  background-color: #ecf8f7; }

@media (min-width: 992px) {
  .medium-align-center {
    justify-content: center; }
  .medium-align-right {
    justify-content: flex-end; }
  .medium-align-left {
    justify-content: flex-start; } }

.disclaimer-text {
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  color: #818181; }

.bio-header .copy p {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: normal;
  line-height: 1.6;
  font-size: 25px; }

.bio-content .bio-overview {
  font-size: 18px;
  line-height: 1.83; }

@media (max-width: 767px) {
  .attorneys-list .grid-item {
    text-align: center; } }

.rep-case-lists {
  font-family: 'Manrope', sans-serif; }
  .rep-case-lists .box {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem; }
    .rep-case-lists .box .thumb img {
      width: 100%; }
    .rep-case-lists .box .thumb span {
      display: block;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      padding: 9px 16px;
      line-height: 1.67; }
    .rep-case-lists .box .cell:nth-child(odd) span {
      background-color: #404040; }
    .rep-case-lists .box .cell:nth-child(even) span {
      background-color: #326762; }
  .rep-case-lists h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.35;
    color: #404040; }
  .rep-case-lists h3 {
    font-size: 15px;
    font-weight: bold; }
  .rep-case-lists ul {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    line-height: 0.87; }
    .rep-case-lists ul li {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold; }
      .rep-case-lists ul li:nth-child(odd) {
        color: #818181; }
      .rep-case-lists ul li:nth-child(even) {
        color: #404040;
        margin-left: 30px; }
  .rep-case-lists p {
    color: #818181;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.67; }

@media print {
  #header,
  #footer,
  .box-design,
  .bottom-blog-links,
  .comments-section,
  .bottom-related-posts,
  .bottom-share-links {
    display: none; }
  .blog-details .grid-container h3:first-child {
    width: 100%;
    line-height: 1.2em; } }

.foot-s1 {
  padding: 70px 0 30px;
  font-size: 14px;
  background: #214b47;
  color: #fff; }
  .foot-s1 .foot-logo {
    margin: 0 0 30px; }
  .foot-s1 .foot-info {
    padding: 0;
    margin: 0 75px 30px 0;
    max-width: 300px; }
    .foot-s1 .foot-info li {
      list-style: none;
      font-size: 18px;
      padding: 0 0 0 40px;
      margin-bottom: 20px; }
      .foot-s1 .foot-info li a {
        color: #fff; }
      .foot-s1 .foot-info li i {
        margin-left: -45px;
        margin-right: 10px; }
      .foot-s1 .foot-info li.ph {
        font-size: 20px;
        font-weight: bold;
        line-height: 1; }
        .foot-s1 .foot-info li.ph a {
          font-size: 20px; }
  .foot-s1 .foot-social {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px; }
    .foot-s1 .foot-social .foot-pay {
      margin-bottom: 40px;
      display: block; }
    .foot-s1 .foot-social span {
      display: inline-block;
      vertical-align: middle; }
    .foot-s1 .foot-social a {
      display: inline-block;
      vertical-align: middle; }
      .foot-s1 .foot-social a:hover {
        opacity: 0.5; }
  .foot-s1 .foot-panav {
    position: relative;
    margin: 0; }
    .foot-s1 .foot-panav h5 {
      font: bold 18px "Manrope", sans-serif;
      color: #fff;
      letter-spacing: 2px;
      margin: 0 0 25px; }
      .foot-s1 .foot-panav h5 a {
        color: #fff; }
        .foot-s1 .foot-panav h5 a:hover {
          text-decoration: underline; }
    .foot-s1 .foot-panav ul {
      margin: 0;
      padding: 0; }
      .foot-s1 .foot-panav ul li {
        list-style: none;
        margin: 0 0 10px;
        text-transform: uppercase;
        display: inline-block;
        width: 100%; }
        .foot-s1 .foot-panav ul li a {
          font-size: 16px;
          font-weight: bold;
          color: #a9d5d1; }
          .foot-s1 .foot-panav ul li a:hover {
            text-decoration: underline; }
      .foot-s1 .foot-panav ul ul {
        columns: 1;
        margin-top: 5px; }
        .foot-s1 .foot-panav ul ul li {
          display: block;
          margin: 0;
          text-transform: none; }
          .foot-s1 .foot-panav ul ul li a {
            font-size: 15px;
            font-weight: 500;
            color: #fff; }
  .foot-s1 .foot-menu > ul {
    margin: 0;
    padding: 0; }
    .foot-s1 .foot-menu > ul > li {
      list-style: none;
      margin: 0 0 10px;
      padding: 0; }
      .foot-s1 .foot-menu > ul > li > a {
        font: bold 18px "Manrope", sans-serif;
        color: #fff;
        letter-spacing: 2px;
        text-transform: uppercase; }
        .foot-s1 .foot-menu > ul > li > a:hover {
          text-decoration: underline; }
      .foot-s1 .foot-menu > ul > li:first-child > a {
        display: block;
        margin: 0 0 25px; }
      .foot-s1 .foot-menu > ul > li ul {
        margin: 0 0 40px;
        padding: 0; }
        .foot-s1 .foot-menu > ul > li ul li {
          list-style: none;
          margin: 0 0 10px;
          padding: 0; }
          .foot-s1 .foot-menu > ul > li ul li a {
            font-size: 16px;
            color: #a9d5d1;
            font-weight: 500;
            letter-spacing: normal; }
  .foot-s1 .foot-menu .small {
    margin: 0; }
    .foot-s1 .foot-menu .small a {
      font-size: 16px;
      font-weight: 500;
      letter-spacing: normal; }
  .foot-s1 .copyright {
    padding: 80px 0 0;
    display: flex;
    justify-content: space-between;
    color: #a9d5d1; }
    .foot-s1 .copyright a {
      color: #a9d5d1; }
    .foot-s1 .copyright .copyright-text ul {
      margin: 0 0 0 20px;
      padding: 0;
      display: inline-block; }
      .foot-s1 .copyright .copyright-text ul li {
        list-style: none;
        display: inline-block;
        margin: 0 10px 0 0; }
        .foot-s1 .copyright .copyright-text ul li:last-child {
          margin: 0; }
  .foot-s1 .designby a {
    text-decoration: underline; }
  @media (max-width: 1023px) {
    .foot-s1 {
      padding-top: 80px; }
      .foot-s1 .grid-margin-x > .medium-6 {
        width: calc(50% - 1.875rem); }
      .foot-s1 .foot-logo {
        text-align: center; }
      .foot-s1 .foot-info {
        float: left;
        width: 50%;
        max-width: none;
        padding-right: 15px;
        margin-right: 0; }
      .foot-s1 .foot-social {
        float: left;
        margin: 0 15px; }
      .foot-s1 .foot-panav {
        margin-bottom: 30px; }
      .foot-s1 .foot-menu ul li {
        display: inline-block;
        width: 100%; }
      .foot-s1 .foot-menu ul ul {
        column-count: 1; }
      .foot-s1 .copyright {
        text-align: center;
        flex-direction: column; }
        .foot-s1 .copyright .copyright-text ul {
          display: block;
          margin: 10px 0;
          text-align: center; }
        .foot-s1 .copyright .designby {
          display: block;
          float: none;
          text-align: center; } }
  @media (max-width: 639px) {
    .foot-s1 .grid-margin-x > .medium-6 {
      width: 100%; }
    .foot-s1 .foot-info,
    .foot-s1 .foot-pay,
    .foot-s1 .foot-social {
      float: none;
      width: 100%;
      text-align: center;
      margin-block-end: 35px; }
    .foot-s1 .foot-panav {
      text-align: center; }
      .foot-s1 .foot-panav ul {
        column-count: 1; }
    .foot-s1 .foot-menu {
      text-align: center; }
      .foot-s1 .foot-menu ul {
        column-count: 1; } }
