.sub-menu {
  display: none; }

/* BLOCK TWO COLUMNS STYLE 4 */
.cols2-s4 {
  padding: 60px 0; }
  .cols2-s4 .col-image {
    margin-right: 90px;
    margin-left: calc((-100vw - -1410px - 30px) / 2); }
    .cols2-s4 .col-image img {
      width: 100%; }
  .cols2-s4 .large-order-2 .col-image, .cols2-s4 .overlap-image .col-image {
    margin-right: calc((-100vw - -1410px - 30px) / 2);
    margin-left: 90px; }
  .cols2-s4 .col-copy > *:last-child {
    margin-bottom: 0; }
  @media (max-width: 1410px) {
    .cols2-s4 .col-image {
      margin-right: 15px;
      margin-left: -30px; }
    .cols2-s4 .large-order-2 .col-image, .cols2-s4 .overlap-image .col-image {
      margin-right: -30px;
      margin-left: 15px; } }
  @media (max-width: 1023px) {
    .cols2-s4 .col-image {
      margin-left: 0 !important;
      margin-bottom: 30px !important; } }
  @media (max-width: 639px) {
    .cols2-s4 {
      padding: 40px 0; } }

.grid-x .cell {
  flex-basis: auto !important; }

.wp-block-columns {
  margin-bottom: 0; }

.wp-block-group__inner-container {
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
  max-width: 1410px;
  margin-left: auto;
  margin-right: auto; }
  .wp-block-group__inner-container .wp-block-group__inner-container {
    padding-left: 0;
    padding-right: 0; }

.wp-block-button .wp-block-button__link {
  padding: 8px 35px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 32px;
  letter-spacing: 3.5px;
  transition: all 0.5s ease;
  background: #214b47;
  color: #fff; }
  .wp-block-button .wp-block-button__link:hover {
    background: #432b0f; }

.two-columns {
  column-count: 2; }

@media (max-width: 1023px) {
  .text-center-md {
    text-align: center; } }

.practice-areas {
  position: relative;
  justify-content: center; }
  .practice-areas h4 a {
    color: #2e2e2e; }
    .practice-areas h4 a:hover {
      color: #707070; }
  .practice-areas p.excerpt {
    line-height: 33px;
    margin-bottom: 0; }
  .practice-areas ul {
    margin: 0;
    padding: 0; }
    .practice-areas ul li {
      list-style: none; }
      .practice-areas ul li a {
        color: #707070; }
        .practice-areas ul li a:hover {
          color: #2e2e2e; }
  .practice-areas .cell {
    margin-bottom: 40px; }
  .practice-areas .pa-item {
    font-size: 18px; }
    .practice-areas .pa-item h4 {
      font-weight: 400;
      max-width: 93%; }
    .practice-areas .pa-item a {
      position: relative;
      line-height: 35px; }
      .practice-areas .pa-item a:hover {
        color: #397670; }
      .practice-areas .pa-item a:before {
        content: ""; }
    .practice-areas .pa-item figure {
      margin-bottom: 15px; }
      .practice-areas .pa-item figure img {
        width: 100%; }
  .practice-areas .wp-block-image img {
    width: 100%; }

.page-content {
  padding: 100px 0; }

.sec-subscribe-spa {
  padding-top: 40px; }

.sec-banner {
  background-color: #214b47;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  min-height: 230px;
  display: flex;
  align-items: center; }
  .sec-banner .wp-block-group__inner-container > *:last-child {
    margin-bottom: 0; }
  .sec-banner h2, .sec-banner h3, .sec-banner h4, .sec-banner h5, .sec-banner h6 {
    color: #a9d5d1; }
  .sec-banner h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px; }
  .sec-banner h5 {
    font-weight: normal;
    font-size: 25px; }
  .sec-banner h6 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.78px; }
  .sec-banner p {
    font-size: 25px; }
  .sec-banner .hbg {
    color: #fff; }
    .sec-banner .hbg:before {
      background: #2a5c57;
      left: -25px;
      right: -25px;
      top: 45%; }
    .sec-banner .hbg span {
      background: none;
      padding: 0; }
  @media (max-width: 639px) {
    .sec-banner h1 {
      font-size: 32px; }
    .sec-banner h5 {
      font-weight: normal;
      font-size: 18px; }
    .sec-banner p {
      font-size: 16px; } }

.sec-firm-s1 {
  position: relative;
  padding: 50px 0; }
  .sec-firm-s1 h2 {
    font-size: 77px;
    font-weight: normal; }
  .sec-firm-s1 .col-image {
    position: relative;
    margin-bottom: 50px; }
    .sec-firm-s1 .col-image:before {
      content: "";
      border: 1px solid #cccccc;
      position: absolute;
      left: 50px;
      right: 0;
      top: -50px;
      bottom: -50px;
      z-index: -1; }
  @media (max-width: 1410px) {
    .sec-firm-s1 h2 {
      font-size: 60px; }
    .sec-firm-s1 .col-image:before {
      content: "";
      border: 1px solid #cccccc;
      position: absolute;
      left: 30px;
      right: 0;
      top: -30px;
      bottom: -30px;
      z-index: -1; } }
  @media (max-width: 639px) {
    .sec-firm-s1 h2 {
      font-size: 38px; } }

.sec-firm-s2 h3 {
  font-size: 25px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 930px;
  margin: 0 auto 30px; }

.sec-history {
  padding: 50px 0; }
  .sec-history .hbg:before {
    left: -10px;
    right: -10px;
    background-color: #f5f1ec; }
  .sec-history .history-item:nth-of-type(odd) .hbg:before {
    background: #a9d5d1;
    opacity: 0.3; }
  .sec-history .history-item:nth-of-type(odd) .history-year > *:last-child:after {
    border-left: 1px solid #397670; }
  .sec-history .history-item:nth-of-type(odd) .history-year h2 {
    color: #397670; }
  .sec-history .history-year {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; }
    .sec-history .history-year > * {
      width: 170px;
      text-align: center; }
      .sec-history .history-year > *:last-child {
        position: relative; }
        .sec-history .history-year > *:last-child:after {
          content: "";
          position: absolute;
          left: 85px;
          top: 110%;
          height: 100vh;
          border-left: 1px solid #5a3d1c; }
    .sec-history .history-year .no-vline:after {
      display: none; }
    .sec-history .history-year h2 {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      color: #5a3d1c; }
      .sec-history .history-year h2 br {
        display: none; }
      .sec-history .history-year h2 s, .sec-history .history-year h2 small {
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 3px;
        display: block;
        padding: 10px 0;
        line-height: 1;
        color: #b79064; }
      .sec-history .history-year h2 + h4 {
        margin-top: -20px; }
    .sec-history .history-year h4 {
      font-size: 30px;
      color: #5a3d1c;
      font-weight: normal; }
    .sec-history .history-year p {
      font-size: 15px; }
  .sec-history .history-copy {
    padding-left: 60px;
    margin-bottom: 70px;
    line-height: 1.8;
    font-size: 18px; }
    .sec-history .history-copy p {
      line-height: 1.8; }
    .sec-history .history-copy h4 {
      font-weight: normal; }
  @media (max-width: 1023px) {
    .sec-history .history-copy {
      padding-left: 0; } }
  @media (max-width: 767px) {
    .sec-history .history-year > * {
      margin-left: auto;
      margin-right: auto; } }

.sec-practice {
  padding: 50px 0; }

.attorneys-list {
  position: relative;
  padding: 50px 0; }
  .attorneys-list .attorney-item {
    padding: 0 5px;
    margin-bottom: 40px; }
    .attorneys-list .attorney-item figure {
      margin: 0 0 20px;
      height: 312px;
      overflow: hidden; }
    .attorneys-list .attorney-item h4 {
      color: #397670;
      color: #404040; }
      .attorneys-list .attorney-item h4 a {
        color: #404040; }
        .attorneys-list .attorney-item h4 a:hover {
          color: #397670; }
    .attorneys-list .attorney-item .attorney-pa {
      font-size: 15px;
      font-weight: 500;
      color: #404040; }
      .attorneys-list .attorney-item .attorney-pa a {
        color: #737373; }
        .attorneys-list .attorney-item .attorney-pa a:hover {
          color: #397670; }

.bio-header {
  background: #2a5c57;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 24px; }
  .bio-header h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 30px; }
  .bio-header h5 {
    color: #a9d5d1;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3px; }
  .bio-header p {
    font-weight: bold;
    width: 70%; }
    @media (max-width: 1023px) {
      .bio-header p {
        width: 100%; } }
  .bio-header .copy {
    padding-top: 50px;
    padding-bottom: 50px; }
    @media (max-width: 567px) {
      .bio-header .copy {
        padding-bottom: 0; } }
  .bio-header .image figure {
    height: 100%;
    width: 500px;
    overflow: hidden; }
    .bio-header .image figure img {
      width: 100%; }
    @media (max-width: 1023px) {
      .bio-header .image figure {
        margin: 0 auto;
        height: auto; } }
    @media (max-width: 567px) {
      .bio-header .image figure {
        height: auto;
        width: auto; } }
  .bio-header .email-vcard {
    margin: 0 0 50px;
    padding: 10px 3px;
    background: #214b47;
    display: inline-block; }
    .bio-header .email-vcard li {
      list-style: none;
      display: inline-block;
      padding: 0 15px;
      font-family: 500; }
      .bio-header .email-vcard li a {
        color: #fff;
        display: flex;
        align-items: center; }
      .bio-header .email-vcard li img {
        max-height: 25px;
        margin-right: 10px; }
    .bio-header .email-vcard a[href=""], .bio-header .email-vcard a[href=" "], .bio-header .email-vcard a[href="mailto:"] {
      pointer-events: none; }
  .bio-header .listed-in {
    margin: 0 -20px 50px;
    padding: 0; }
    .bio-header .listed-in li {
      list-style: none;
      display: inline-block;
      margin: 0 15px 10px; }
  @media (max-width: 1023px) {
    .bio-header {
      padding: 0 15px;
      text-align: center; }
      .bio-header h1 {
        font-size: 35px; }
      .bio-header p {
        font-size: 18px; }
      .bio-header .email-vcard {
        font-size: 15px; }
      .bio-header .listed-in {
        display: flex;
        justify-content: center; } }

.bio-subhead {
  background: #214b47;
  color: #fff; }
  .bio-subhead .sub-name {
    display: flex;
    align-items: center; }
    .bio-subhead .sub-name img {
      height: 130px;
      object-fit: cover;
      width: 150px;
      margin: 0 10px; }
    .bio-subhead .sub-name h5 {
      color: #a9d5d1;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 0; }
    .bio-subhead .sub-name h2 {
      font-size: 50px;
      color: #fff;
      font-weight: 500;
      margin-bottom: 0; }
  .bio-subhead .email-vcard {
    margin: 0;
    padding: 10px 3px;
    background: #214b47;
    display: inline-block; }
    .bio-subhead .email-vcard li {
      list-style: none;
      display: inline-block;
      padding: 0 15px;
      font-family: 500; }
      .bio-subhead .email-vcard li a {
        color: #fff;
        display: flex;
        align-items: center; }
      .bio-subhead .email-vcard li img {
        max-height: 25px;
        margin-right: 10px; }
    .bio-subhead .email-vcard a[href=""], .bio-subhead .email-vcard a[href=" "], .bio-subhead .email-vcard a[href="mailto:"] {
      pointer-events: none; }

.bio-content .hbg {
  margin-bottom: 40px; }
  .bio-content .hbg:before {
    background: #ecf8f7;
    width: calc(100% + 10px); }

.bio-content hr {
  border-color: #ecf8f7;
  border-width: 7px;
  margin-top: 75px;
  margin-bottom: 75px; }

.bio-content .offtop {
  margin-top: -4em;
  padding-top: 4em; }

.bio-side {
  position: relative;
  z-index: 1;
  background: #f5f1ec;
  height: 100%;
  padding: 70px 0;
  margin: 0 40px 0 0; }
  .bio-side:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc((-100vw - -1410px - 30px) / 2);
    right: 0;
    background: #f5f1ec;
    z-index: -1; }
  .bio-side .bio-menu {
    margin-bottom: 5em; }
    .bio-side .bio-menu ul {
      margin: 0;
      padding: 0 0 5em; }
      .bio-side .bio-menu ul li {
        list-style: none;
        margin: 0; }
        .bio-side .bio-menu ul li a {
          color: #404040;
          font-size: 25px;
          display: block;
          padding: 10px 0;
          position: relative; }
          .bio-side .bio-menu ul li a.is-active {
            font-weight: bold;
            color: #214b47; }
            .bio-side .bio-menu ul li a.is-active:before {
              content: "";
              position: absolute;
              width: 25px;
              height: 25px;
              right: -9px;
              top: 12px;
              background: #f5f1ec;
              transform: rotate(45deg);
              z-index: -1; }
      @media (max-width: 767px) {
        .bio-side .bio-menu ul {
          padding-bottom: 0; } }
  @media (max-width: 1410px) {
    .bio-side {
      margin-right: 0; }
      .bio-side:before {
        left: -30px; }
      .bio-side .bio-menu ul li a {
        font-size: 20px; } }
  @media (max-width: 1023px) {
    .bio-side:before {
      right: -30px; }
    .bio-side .bio-menu {
      text-align: center; } }
  @media (max-width: 767px) {
    .bio-side {
      padding: 30px 0; }
      .bio-side ul li:first-child a {
        color: #326762;
        font-size: 18px;
        font-weight: 800; } }

.bio-copy {
  padding: 70px 0; }
  .bio-copy a {
    color: #2e2e2e; }
    .bio-copy a:hover {
      color: #397670; }
  .bio-copy ul {
    margin: 0;
    padding: 0; }
    .bio-copy ul li {
      list-style: none;
      margin-bottom: 20px;
      color: #2e2e2e; }
  .bio-copy blockquote {
    background: #f8f8f8;
    border: 0;
    color: #6f4f2a;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    padding: 45px; }
    .bio-copy blockquote p {
      font-style: normal;
      color: #6f4f2a; }
      .bio-copy blockquote p:before {
        content: '"'; }
      .bio-copy blockquote p:after {
        content: '"'; }
      .bio-copy blockquote p:last-child {
        margin-bottom: 0; }
  .bio-copy .bio-post {
    color: #737373;
    font-size: 15px;
    font-weight: 500; }
    .bio-copy .bio-post strong {
      color: #404040; }
    .bio-copy .bio-post figure {
      margin: 0 0 30px; }
      .bio-copy .bio-post figure img {
        width: 100%; }
    .bio-copy .bio-post h6 {
      color: #737373;
      font-size: 15px;
      margin: 0 0 5px;
      font-weight: 500; }
      .bio-copy .bio-post h6 a {
        color: #737373; }
    .bio-copy .bio-post h3 {
      font-size: 20px; }
  .bio-copy .bio-overview ul {
    margin: 0 0 0 40px;
    padding: 0; }
    .bio-copy .bio-overview ul li {
      list-style: disc;
      margin-bottom: 20px;
      color: #2e2e2e; }
  .bio-copy .bio-overview .wp-block-gallery ul, .bio-copy .bio-overview .partners-logo ul {
    margin: 0 -50px 25px 0;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    flex-shrink: 1;
    margin-right: -25px;
    margin-left: -25px; }
    .bio-copy .bio-overview .wp-block-gallery ul li, .bio-copy .bio-overview .partners-logo ul li {
      width: auto;
      padding: 0 25px;
      margin: 0;
      -ms-flex-positive: 0;
      flex-grow: 0; }
  .bio-copy .bio-overview .wp-block-gallery .blocks-gallery-item figcaption, .bio-copy .bio-overview .partners-logo .blocks-gallery-item figcaption {
    display: none; }
  .bio-copy .bio-overview .partners-logo figure {
    display: inline-block;
    height: auto;
    position: relative; }
    .bio-copy .bio-overview .partners-logo figure img {
      max-height: 100px; }
    .bio-copy .bio-overview .partners-logo figure figcaption {
      background: none;
      padding: 0;
      top: 0;
      overflow: visible; }
      .bio-copy .bio-overview .partners-logo figure figcaption a {
        font-size: 0;
        display: block;
        height: 100%; }
  .bio-copy .bio-overview .partners-logo-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 -15px 25px; }
    .bio-copy .bio-overview .partners-logo-flex .item {
      padding: 0 15px; }
      @media (max-width: 767px) {
        .bio-copy .bio-overview .partners-logo-flex .item {
          margin: 15px 0; } }
    @media (max-width: 767px) {
      .bio-copy .bio-overview .partners-logo-flex {
        -ms-flex-pack: center;
        justify-content: center; } }
  .bio-copy .bio-testimonials {
    background: whitesmoke;
    padding: 40px 20px;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    line-height: 1.8; }
    .bio-copy .bio-testimonials p {
      line-height: 1.8; }
      .bio-copy .bio-testimonials p:before {
        content: '"'; }
      .bio-copy .bio-testimonials p:after {
        content: '"'; }
    .bio-copy .bio-testimonials h5 {
      font-size: 18px;
      font-style: normal;
      margin-bottom: 0; }
    .bio-copy .bio-testimonials .testi-slider {
      padding-left: 120px;
      padding-right: 120px; }
  .bio-copy .bio-practice-areas {
    font-size: 25px;
    color: #2e2e2e; }
    .bio-copy .bio-practice-areas ul {
      margin: 0;
      padding: 0; }
      .bio-copy .bio-practice-areas ul li {
        list-style: none;
        margin-bottom: 20px;
        color: #2e2e2e; }
  .bio-copy .bio-bar-admissions {
    font-size: 25px; }
    .bio-copy .bio-bar-admissions a {
      color: #2e2e2e; }
      .bio-copy .bio-bar-admissions a:hover {
        color: #397670; }
  .bio-copy .bio-affiliations ul {
    margin: 0;
    padding: 0; }
    .bio-copy .bio-affiliations ul li {
      list-style: none;
      font-size: 18px;
      line-height: 1.8;
      background: url(../img/icn-check.svg) no-repeat left 10px;
      padding: 0 0 0 26px;
      margin: 0 0 20px; }
  .bio-copy .bio-education {
    font-size: 25px;
    color: #2e2e2e; }
  .bio-copy .bio-awards ul {
    margin: 0;
    padding: 0; }
    .bio-copy .bio-awards ul li {
      list-style: none;
      font-size: 18px;
      line-height: 1.8;
      background: url(../img/icn-check.svg) no-repeat left 10px;
      padding: 0 0 0 26px;
      margin: 0 0 20px; }
  .bio-copy .bio-appellate ul {
    margin: 0;
    padding: 0; }
    .bio-copy .bio-appellate ul li {
      list-style: none;
      font-size: 18px;
      line-height: 1.8;
      margin: 0 0 20px; }
      .bio-copy .bio-appellate ul li a {
        display: block;
        background: url(../img/icn-pdf.svg) no-repeat left 8px/35px;
        padding: 0 0 0 50px;
        line-height: 45px; }
      @media (max-width: 767px) {
        .bio-copy .bio-appellate ul li {
          font-size: 18px; } }
  .bio-copy .bio-publications ul {
    margin: 0;
    padding: 0; }
    .bio-copy .bio-publications ul li {
      list-style: none;
      font-size: 18px;
      line-height: 1.8;
      background: url(../img/icn-check.svg) no-repeat left 10px;
      padding: 0 0 0 26px;
      margin: 0 0 20px; }
  @media (max-width: 1023px) {
    .bio-copy {
      padding: 70px 15px; }
      .bio-copy blockquote {
        font-size: 16px;
        padding: 20px; } }
  @media (max-width: 767px) {
    .bio-copy {
      font-size: 18px; }
      .bio-copy h2.hbg {
        text-align: center;
        font-size: 30px; }
      .bio-copy .offtop {
        font-size: 15px; }
      .bio-copy .text-center-medium {
        text-align: center; }
        .bio-copy .text-center-medium .hbg:before {
          left: -15px; } }
  @media (max-width: 639px) {
    .bio-copy .bio-overview .wp-block-gallery ul, .bio-copy .bio-overview .partners-logo ul {
      margin: 0 -40px 25px 0; }
      .bio-copy .bio-overview .wp-block-gallery ul li, .bio-copy .bio-overview .partners-logo ul li {
        width: 50%;
        padding: 0 40px 25px 0; }
        .bio-copy .bio-overview .wp-block-gallery ul li figure, .bio-copy .bio-overview .partners-logo ul li figure {
          justify-content: center; } }
  .bio-copy .bio-reptrans > ul > li {
    line-height: 1.5; }
    .bio-copy .bio-reptrans > ul > li > span,
    .bio-copy .bio-reptrans > ul > li .title {
      display: block;
      position: relative;
      padding: 0 0 0 20px;
      font-weight: 600;
      color: #214b47;
      cursor: pointer; }
      .bio-copy .bio-reptrans > ul > li > span:before,
      .bio-copy .bio-reptrans > ul > li .title:before {
        content: "\25BC";
        font-size: 15px;
        position: absolute;
        left: 0;
        top: 4px; }
    .bio-copy .bio-reptrans > ul > li.active .title:before {
      content: "\25B2"; }
    .bio-copy .bio-reptrans > ul > li.active ul {
      display: block; }
  .bio-copy .bio-reptrans > ul ul {
    display: none;
    margin: 15px 0 0 50px; }
    .bio-copy .bio-reptrans > ul ul li {
      list-style: disc;
      font-size: 80%; }

.sec-banner.spa {
  position: relative;
  z-index: 1;
  padding: 40px 0;
  min-height: 518px; }
  .sec-banner.spa:before {
    content: "";
    background-image: linear-gradient(to bottom, #214b47, rgba(25, 52, 49, 0) 158%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1; }
  .sec-banner.spa p {
    max-width: 990px;
    margin: 15px auto 30px;
    font-size: 20px;
    font-weight: 700; }
  .sec-banner.spa .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -2; }
    .sec-banner.spa .bg img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .sec-banner.spa .breadcrumbs {
    font: bold 18px/1 "Lato", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .sec-banner.spa .breadcrumbs a {
      color: #f2f2f2;
      padding: 0 15px; }
      .sec-banner.spa .breadcrumbs a + a {
        border-left: 1px solid #818181; }
  @media (max-width: 639px) {
    .sec-banner.spa .breadcrumbs {
      font-size: 15px;
      letter-spacing: normal; }
    .sec-banner.spa p {
      font-size: 16px; } }

.sec-pa-cont {
  font-size: 18px; }
  .sec-pa-cont .intro {
    color: #fff;
    position: relative;
    padding: 40px 200px;
    margin-bottom: 50px;
    text-align: center;
    z-index: 1;
    font-size: 20px;
    line-height: 37px; }
    .sec-pa-cont .intro:before {
      content: "";
      background: #326762;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      z-index: -1; }
    .sec-pa-cont .intro a {
      color: #a9d5d1; }
      .sec-pa-cont .intro a:hover {
        color: #a9d5d1;
        text-decoration: underline; }
  .sec-pa-cont .two-columns {
    margin-left: 190px; }
  .sec-pa-cont .block-award {
    background: #f2f2f2;
    padding: 30px 90px;
    margin: 45px 0;
    grid-template-columns: 240px auto !important; }
    .sec-pa-cont .block-award h5 {
      font-size: 25px; }
    .sec-pa-cont .block-award p {
      font-size: 18px; }
    .sec-pa-cont .block-award figure {
      width: 200px; }
    .sec-pa-cont .block-award > * {
      padding: 0; }
  .sec-pa-cont .check-list li {
    margin: 0 0 15px 0; }
  @media (max-width: 1366px) {
    .sec-pa-cont .intro {
      padding: 40px 10px; }
    .sec-pa-cont .two-columns {
      margin-left: 15px; }
    .sec-pa-cont .block-award {
      padding: 30px; } }
  @media (max-width: 639px) {
    .sec-pa-cont .two-columns {
      column-count: 1; }
    .sec-pa-cont .block-award {
      padding: 30px;
      display: block; }
      .sec-pa-cont .block-award figure {
        margin: 0 auto 15px; } }

.sec-pa-attr {
  background: #f5f1ec;
  padding: 50px 0; }
  .sec-pa-attr h2 {
    margin-bottom: 40px; }
  .sec-pa-attr ul {
    margin: 0;
    padding: 0; }
    .sec-pa-attr ul li {
      list-style: none;
      position: relative;
      padding: 0 15px; }
  .sec-pa-attr .attr-item {
    max-width: 430px;
    margin: 0 auto;
    padding: 1px; }
    .sec-pa-attr .attr-item .img {
      width: 170px;
      margin-right: 40px;
      float: left; }
    .sec-pa-attr .attr-item h4 {
      margin-top: 40px; }
  .sec-pa-attr .slick-slider .slick-prev {
    left: -35px; }
  .sec-pa-attr .slick-slider .slick-next {
    right: -35px; }
  @media (max-width: 1440px) {
    .sec-pa-attr ul {
      margin: 0 30px; } }
  @media (max-width: 480px) {
    .sec-pa-attr .attr-item {
      text-align: center; }
      .sec-pa-attr .attr-item .img {
        width: 170px;
        margin: 0 auto 15px;
        float: none;
        display: block; }
      .sec-pa-attr .attr-item h4 {
        margin-top: 0; } }

.sec-pa-rel {
  padding-top: 40px; }

.sec-pa-faqs {
  padding: 90px 0 40px 0; }
  .sec-pa-faqs .accordion .accordion-item {
    border-bottom: 2px solid #397670; }
  .sec-pa-faqs .accordion .accordion-title {
    border: 0;
    background: none;
    font-size: 25px;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
    padding: 30px 90px 30px 0;
    color: #2e2e2e; }
    .sec-pa-faqs .accordion .accordion-title:before {
      content: "\25BC";
      line-height: 1;
      top: 45%;
      font-size: 20px; }
  .sec-pa-faqs .accordion .is-active .accordion-title:before {
    content: "\25B2"; }
  .sec-pa-faqs .accordion .accordion-content {
    border: 0;
    font-size: 18px;
    padding: 10px 0 20px;
    color: #707070; }
  @media (max-width: 1023px) {
    .sec-pa-faqs .accordion .accordion-title {
      font-size: 20px;
      padding-right: 50px; } }
